html{
	  scroll-behavior: smooth;
	  margin:0 !important;
}

body {
	font-family: 'Untitled Sans', Helvetica, sans-serif;
	font-size: 16px;
	color: #133C34;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: #f9f4ef;
	margin: 0;
	height: 100%;
	cursor: url(../images/dot-open.png) 12 12, auto;
}

/* Fonts */
@font-face {
	font-family: Ogg;  
	src: url('../fonts/Ogg-Regular.eot');  
	src: url('../fonts/Ogg-Regular.woff') format("woff"); 
	src: url('../fonts/Ogg-Regular.woff2') format("woff2"); 
}

@font-face {
	font-family: Untitled Sans;  
	src: url('../fonts/untitled-sans-web-regular.eot'); 
	src: url('../fonts/untitled-sans-web-regular.woff') format("woff"); 
	src: url('../fonts/untitled-sans-web-regular.woff2') format("woff2"); 
}

.ogg {
	font-family: 'Ogg', sans-serif;
}

.untitled {
	font-family: 'Untitled Sans', Helvetica, sans-serif;
}

.untitled-med{
	font-family: 'Untitled Sans Medium', Helvetica, sans-serif;
}

/* Basic Template Styles */
a {
	cursor: url(../images/dot.png) 12 12, pointer;
}


p {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	font-weight: normal;  
	font-family: 'Ogg', sans-serif;
}

a, h1 {
	color: #133C34;
}

h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;  
}

p img {
	height: auto;
	width: auto;
}

.maxwidth {
	max-width: 1600px;
}

.dot-cursor {
		cursor: url(../images/dot.png) 12 12, pointer;
}

/* Selection Color */
::selection {
  background: #AEFB00; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #AEFB00; /* Gecko Browsers */
}

/* Navigation */
.nav {
	margin-left: 25px;
	margin-top: 25px;
	position: fixed;
	max-width: 1600px;
	z-index: 2;
}

.logo {
	height: 50px;
	color: #133C34;
}

.side-menu a {
	text-decoration:none;
}

.side-menu {
	font-size: .875rem;
	left:-5px;
	top: 15px;
}

.side-menu ul {
	list-style-type:none;
	padding-inline-start: 0px;
}

#primary-menu {
	list-style-type: none;
	padding-left: 15px;
	width: 400px;
	font-size: .875rem;
}

#primary-menu a {
	text-decoration: none;
}

#primary-menu li {
	display: inline-block;
	margin-right: 15px;
}

.current-menu-item{
	border-bottom: 1px solid #133C34;
}

.name{
	transform-origin: 0 0;
	transform: rotate(-90deg) translate(-75%, 50%);
	width: 148px;

}

/* Misc */
.ogg,
.text-block h3 {
	font-family: 'Ogg', sans-serif;
}

.text-block h3{
	margin: 0;
}

.hero-heading ,
.hero-subhead {
	font-size: 64px;
}

.hero-heading {
	letter-spacing: 0.05em;
}

.hero-content{
	max-width: 750px;
}

.text-block {
	max-width: 700px;
	font-size: 20px;
	line-height: 1.5em;
}

.text-block h3{
	font-size: 26px;
	margin-top: 0;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
}

.line{
	width: 150px;
    height: 1px;
    background-color: #133C34;
    display: none;
}

/* Divider Section */
.vertical-line {
	width: 3px;
    height: 300px;
    border-left: 1px solid #133C34;
   	margin-left: 152px;
}

.divider{
	width: 100px;
    height: 1px;
    border-bottom: 1px solid #133C34;
    flex: 1;
    margin-bottom: 5px;
}

.f-subsubheadline {
	font-size: 62px;
}

.section-title {
	flex: initial;
}

/* Featured Post */
.slider-info {
	background-color: #EDC1D8;
	min-height: 250px;
	min-width: 250px;
	flex-direction: column;
}

.slider-image-container {
	min-width: 250px;
	min-height: 600px;
}

.slider-text {
	margin-top: auto;
}

.arrow {
	width: 50px;
	transform: translate(5%, 0);
}

.arrow:hover {
  -webkit-transform: translate(10px, 0);
     -moz-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
       -o-transform: translate(10px, 0);
          transform: translate(10px, 0);
  -webkit-transition: -webkit-transform 200ms ease-in; /* Changed here */ 
     -moz-transition: -moz-transform 200ms ease-in;
       -o-transition: -o-transform 200ms ease-in;
          transition: transform 200ms ease-in;
}

.explore-arrow {
	width: 50px;
	transform: translate(5%, 0);
}

.explore-arrow:hover {
	    -webkit-transform: translate(5px, 0);
     -moz-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
       -o-transform: translate(5px, 0);
          transform: translate(5px, 0);
  -webkit-transition: -webkit-transform 200ms ease-in; /* Changed here */ 
     -moz-transition: -moz-transform 200ms ease-in;
       -o-transition: -o-transform 200ms ease-in;
          transition: transform 200ms ease-in;
}

.slider-indicators {
	font-size: 12px;
	margin-top:auto;
	margin-bottom: auto;
}

.slider-controls {
	transform: translate(0, -40%);
}

/* Maps Marquee Animation */
.marquee {
	max-width: 1600px;
    width: 100%;
    height: 120px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.marquee-inner {
	display: block;
	width: 200%;
	position: absolute;
	animation: marquee 30s linear infinite;
}

.marquee-inner:hover {
	 animation-play-state: paused;
}

span.marqueeitems {
  width: 50%:
}

a.map-link:hover {
	color: #3f605a;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

/* Recent Posts Section */
.latest {
	margin-bottom: 5px;
}

.allposts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.alm-reveal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
}

.alm-btn-wrap {
	/* visibility: hidden !important; */
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;
	cursor: url(../images/dot.png) 12 12, pointer;
}

/* Load More Button */
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	color: #3f605a;
	font-size: .75rem;
	font-weight: bold;
	cursor: url(../images/dot.png) 12 12, pointer;
}

.button:hover {
	color: #3f605a;
	-webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}

/* Playlist Section */
.playlist-cover {
	min-width: 200px;
}

.music {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/* Books Section */
.book {
	position: relative;
}

.book:hover .book-quote {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease;
}

.book:hover .book-icon {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease;
}

.book-quote {
	position: absolute;
	width: 100%;
 	visibility: hidden;
  	opacity: 0;
  	left: 0;
    top: 50%;
    transform: translateY(-50%);
   	transition: 0.2s ease;
}

.books-container{
	  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 20px;
}


.intro-header {
	cursor: url(../images/cursor.png) 12 12, pointer;
}

/* Single Post Page */
.down-arrow {
	height: 50px;
	width: auto;
	color: #133C34;
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.header-right {
	position: relative;
}

.down-arrow:hover {
	    -webkit-transform: translate(0, 5px);
     -moz-transform: translate(0, 5px);
      -ms-transform: translate(0, 5px);
       -o-transform: translate(0, 5px);
          transform: translate(0, 5px);
  -webkit-transition: -webkit-transform 200ms ease-in; /* Changed here */ 
     -moz-transition: -moz-transform 200ms ease-in;
       -o-transition: -o-transform 200ms ease-in;
          transition: transform 200ms ease-in;
}

.quote-content {
	max-width: 850px;
}

/* Overwriting Gallery Styles */

.gallery-image img{
	width: 100% !important;
	height: auto !important;
	display: block;
	margin-top: 10px;
}
.caption {
	max-width: 870px;
}

.container {
	max-width: 1600px;
}

.project-intro-container{
	padding-top: 400px;
}

.image {
	z-index:1;
}

.explore-title {
	margin-bottom: 48px;
	max-width: 320px;
}

.title {
	font-size: 62px;
}

.intro-text {
	max-width: 700px;
}

.metadata {
	width: 150px;
	flex:initial;
}

/* Share Buttons */
.at-icon-wrapper .at-share-btn {
	background-color: transparent !important;
}

.at-share-tbx-element .at-share-btn {
		margin: 0 7px 15px 0;
}

.at-icon-wrapper, svg.at-icon {
	height: 25px !important;
	width: 25px !important;
}
/* Scroll to Top button */
#myBtn {
  display: none; /* Hidden by default */
  position: sticky; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 42px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: transparent;
  border: none;
}

#myBtn:hover {
    -webkit-transform: translate(0, -5px);
     -moz-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
       -o-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: -webkit-transform 200ms ease-in; /* Changed here */ 
     -moz-transition: -moz-transform 200ms ease-in;
       -o-transition: -o-transform 200ms ease-in;
          transition: transform 200ms ease-in;
}

.read-more {
	margin-top: auto;
}

/* Work Page */

.projectarrow{
	width: 75px;
}

.new-sticker {
	background-color: #AEFB00;
	position: absolute;
	right: 0; top: 0;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	z-index: 2;
}

.project-wrapper {
	position: relative;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1; }
}
.fade-in-element {
  animation: fade-in 2s;
}

.hidden {
	opacity: 0; transform:
  }

/* Explore Section */
.explore-section {
	max-width: 1600px;
}

.projectnext-section a{
	text-decoration: none !important;
	font-size: 36px !important;
}

/* About Page */
.about-page {
	margin-left: 50px;
}

.about-block{
	margin-left: 50%;
}

/* Form Overwriting */

form {
	display: flex !important;
	width: 100% !important;
}

div.wpforms-container-full, 
div.wpforms-container-full 
.wpforms-form * {
	display: flex !important;
	height: 100px !important;
	width: 100% !important;
	font-size: 1.5rem !important;
	padding: 0px !important;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea{
	padding: 40px !important;
	background-color: transparent !important;
	border-radius: 0px !important;
	border: 1px solid #133C34 !important;

}

#wpforms-751-field_1-container {
	flex: initial !important;
	width:25% !important;
	min-width: 250px;
	position: relative !important;
}

input#wpforms-751-field_1,
#wpforms-751-field_2 {
	border-right: 0 !important;
}

#wpforms-751-field_2-container {
	flex: 1 !important;
	min-width:400px !important;
}

div.wpforms-submit-container {
	max-width: 150px;
}

button#wpforms-submit-751 {
	text-transform: uppercase;
	text-align: center;
	padding: 40px !important;
	font-size: 1rem !important;
	background-color: transparent;
	border: 1px solid #133C34 !important;
}

button#wpforms-submit-751:hover {
	background-color: #E5BCD2;
	-webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

div.wpforms-container-full .wpforms-form label.wpforms-error{
	position: absolute;
	font-size: 16px !important;
	top: 115%;
}

.wpforms-confirmation-container-full{
	background: none !important;
	border: 0 !important;
	font-size: 1.5rem !important;
}

.wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full {
	text-align: center;
	}

/* Pagination */
div.pagination {
	text-align: right;
    padding: 50px 0 100px 0;
    font-size: 22px;
}

.wayfinder{
	display: block;
}

/* Progress Bar */

div.progress {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #153c34;
	height: 0%;
	width: 3px;

}

body.single-post::-webkit-scrollbar { width: 0 !important }
body.single-post { overflow: -moz-scrollbars-none; }
body.single-post { -ms-overflow-style: none; }

body.single-project::-webkit-scrollbar { width: 0 !important }
body.single-project { overflow: -moz-scrollbars-none; }
body.single-project { -ms-overflow-style: none; }

/* iFrame Responsiveness */

.iframe-wrapper{
	width: 700px;
}

.current, .inactive{
	padding: 0 5px 0 5px;
}

/* Media Queries */
/* 960px */
@media (max-width: 1700px) {
	.maxwidth {
		margin: 0px 50px;
	}
}

/* Media Queries */
/* 960px */
@media (max-width: 960px) {

	.vertical-line {
	   	margin-left: 3px;
	}

	.down-arrow {
		position: static;
		align-self: flex-end;
	}

	.header-right {
		min-height: 50vh;
		flex-direction: column;
	}
	
	.line {
		display: block;
	}

	.slider-info {
		min-height: 250px;
	}

	.slider-image-container {
		min-height: 350px;
	}

		.iframe-wrapper {
		position: relative;
	    padding-bottom: 56.25%; /* 16:9 */
	    padding-top: 25px;
	    height: 0;
	    width: auto;
	}

	.iframe-wrapper iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	.marquee {
		height: 100px;
	}

	/* Form mobile styles*/

	form {
	display: block !important; 
	width: 100% !important;
}

	div.wpforms-container-full, 
	div.wpforms-container-full 
	.wpforms-form * {
	display: block !important; 
	height: auto !important; 
	}

	#wpforms-751-field_1-container {
	width:100% !important;
	}

	#wpforms-751-field_2-container {
	width:100% !important;
	}

	input#wpforms-751-field_1{
	border-right: 1px solid #133C34 !important;
	}

	input#wpforms-751-field_2{
	border-top: 0px !important;
	border-right: 1px solid #133C34 !important;
	}

	div.wpforms-submit-container {
	max-width: 850px;
	}

	button#wpforms-submit-751{
	display: block !important;
	border-top: 0px !important; 
	}

	div.wpforms-container-full.inline-fields .wpforms-form .wpforms-submit-container {
		width: 100% !important;
	}

	div.wpforms-container-full .wpforms-form label.wpforms-error{
	top: 10px;
	left: 10px;
	}

	.allposts {
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: 1fr 1fr 1fr;
		  grid-gap: 20px;
		}

	.alm-reveal {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	.books-container{
		display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  grid-gap: 15px;
	}


.new-sticker {
	right: -20px; top: -20px;
}


}

/* 640 px */
@media (max-width: 640px) {

	.explore-half {
		width: 100%;
	}

	.explore-arrow {
		display: none;
	}

	div.wpforms-container-full, 
	div.wpforms-container-full 
	.wpforms-form * {
	font-size: 1.25rem !important;
	}

	.book:hover .book-quote {
	visibility: hidden;
	opacity: 0;
}

.book:hover .book-icon {
	visibility: visible;
	opacity: 1;
}

	.allposts {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.alm-reveal {
	display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.music {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  }


.categories-section {
	display: none;
}

	.first-divider {
		display: none;
	}

.about-block{
	margin-left: 50px;
	width: 60%;
}


}




